<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jsp_Servlet_Multipe_ConfigParameter</display-name>
  <servlet-mapping>
  	<servlet-name>myservlet</servlet-name>
	<url-pattern>/myservlet</url-pattern>
  </servlet-mapping>
   <servlet>
	  <servlet-name>myservlet</servlet-name>
	  <servlet-class>suraj.myservlet</servlet-class>
	  <init-param>
		  <param-name>myname</param-name>
		  <param-value>suraj</param-value>
	  </init-param>
	  <init-param>
		  <param-name>myage</param-name>
		  <param-value>26</param-value>
	  </init-param>
	  <init-param>
		  <param-name>nationality</param-name>
		  <param-value>indian</param-value>
	  </init-param>
  </servlet>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>